<script type="text/javascript" src="assets/js/vars.js"></script>
<script type="text/javascript">
  document.body.onload = addElement;

  function myFunction(val) {
    if (val >= 1892 && val <= 2017) {
      tier = Math.floor((val - 1892) / 6) % 3;
      tier_name = tier_names[tier]
      gen = Math.floor((val - 1892) / 18);
      gen_name = gen_names[gen]
      display_name = tier_name + " " + gen_name;
      link_name = gen_name.toLowerCase() + "-" + tier_name.toLowerCase();
      document.getElementById("myImage").src = BOG[link_name][0]['img'];
      document.getElementById("myGen").innerHTML = "Your Generational Tier is: " + display_name;
      document.getElementById("gen_link").href = "/WhatsMyGen/generations/" + link_name + ".html";
    }
    else {
      document.getElementById("myGen").innerHTML = "Your Generational Tier is: ";
      document.getElementById("myImage").src = "images/question_mark.jpg";
      document.getElementById("gen_link").href = "";
    }
  }

  function addElement() {
    var lbl = document.createElement("LABEL");
    lbl.htmlFor = "year";
    lbl.innerHTML = "Year of Birth (1892 to 2017):";
    document.getElementById("main_content").appendChild(lbl);

    var x = document.createElement("INPUT");
    x.setAttribute("type", "number");
    x.setAttribute("onchange", "myFunction(this.value)");
    x.required = true;
    x.min = 1892;
    x.max = 2017;
    document.getElementById("main_content").appendChild(x);

    var gt = document.createElement("H3");
    gt.id = "myGen"
    gt.innerHTML = "Your Generational Tier is:"
    document.getElementById("main_content").appendChild(gt);

    var img = document.createElement("img");
    img.id = "myImage";
    img.src = "images/question_mark.jpg";
    img.width = "165";
    document.getElementById("main_content").appendChild(img);

    var p = document.createElement("p");
    p.id = "gen_p";
    document.getElementById("main_content").appendChild(p);

    var a = document.createElement("a");
    a.href = "";
    a.id = "gen_link"
    a.innerHTML = "About your generational tier"
    document.getElementById("gen_p").appendChild(a);
  }
</script>
