---
---

@import "{{ site.theme }}";
.third-level-menu
{
    position: absolute;
    z-index: 1000;
    text-align: left;
    top: 0;
    right: -170px;
    width: 170px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.third-level-menu > li
{
    height: 30px;
    padding: 0;
    background: #999999;
    list-style: none;
}
.third-level-menu > li:hover { background: #CCCCCC; }

.second-level-menu
{
    position: absolute;
    top: 30px;
    left: 0;
    width: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.second-level-menu > li
{
    position: relative;
    padding: 0;
    text-align: left;
    height: 30px;
    background: #999999;
    list-style: none;
}
.second-level-menu > li:hover { background: #CCCCCC; }

.top-level-menu
{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;

}

.top-level-menu > li
{
    position: relative;
    z-index: 1000;
    font: 14px Helvetica, Arial, serif;
    padding: 0 10px 0 10px;
    text-decoration: none;
    text-align: left;
    float: left;
    height: 30px;
    width: auto;
    background: #999999;
    list-style: none;
}
.top-level-menu > li:hover { background: #CCCCCC; }

.top-level-menu li:hover > ul
{
    /* On hover, display the next level's menu */
    display: inline;
}


/* Menu Link Styles */

.top-level-menu a /* Apply to all links inside the multi-level menu */
{
    font: bold 14px Helvetica, Arial, serif;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0 10px 0 10px;
    
    /* Make the link cover the entire list item-container */
    display: block;
    line-height: 30px;
}
.top-level-menu a:hover { color: #000000; }


table, th, td {
  border: 1px solid black;
}
td {
  vertical-align: middle;
  padding: 5px;
}
img {
  vertical-align: middle;
}
blockquote {
    font-size: 14px;
}

